.partTwo
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 650px;
    /* position: relative;
    top: 20px; */

}

.partTwo > div 
    {
        height: 100px;
    }

/* .partTwo > div 
{
    height: 100px;
} */

.partTwo article 
{
    display: inherit;
    flex-direction: column;
    gap: 19px;

}

.partTwo img 
{
  
    height: 260px;
    /* width: auto; */
   
    
}

.partTwo h2
{
    height: fit-content;
}

.partTwo p 
{
    width: 80%;
    text-align: justify;
}

.partTwo figure 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.partTwo div 
{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}

.paerTwo img {
    cursor: pointer;
}

@media only screen and (min-width: 810px) 
{
    .partTwo 
    {
        max-width: none;
        width: 810px;
        /* position: relative; */
        /* top: 20px; */
        flex-direction: column;
    }

    .partTwo img {
        border: 1px solid black;
        height: 200px;
    }

    .partTwo > div 
    {
        height: 50px;
    }

    .partTwo  article 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid black;

    }

    .partTwo  article:nth-of-type(2)
    {
        justify-content: center;
    }

    .partTwo figure 
    {
        width: 33%;
        /* border: 1px solid black; */
        justify-content: flex-start;
        height: 450px;

    }


    .partTwo article:nth-of-type(2) > figure
    {
        flex-direction: row;
        width: 100%;
        height: 350px;
    }

    .partTwo article:nth-of-type(2) > figure > img 
    {
        height: 300px;
    }
   
}