.projectList
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
    align-items: center;
    height: inherit;
    position: relative;
    transform: translateY(120px);
}

.projectList article 
{
    display: inherit;
    flex-direction: column;
    max-width: 650px;
    gap: 19px;
}

.bottomOfPage
{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;    
}

.bottomOfPage > div
{
    height: 100px;
    width: 100%;
}
.projectList img 
{  
    height: 220px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;   
}

.projectList h2
{
    height: fit-content;
}

.projectList p 
{
    width: 80%;
    text-align: justify;
}

.projectList figure 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.projectList div 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectList img {
    cursor: pointer;
}

@media only screen and (min-width: 810px) 
{
    .bottomOfPage > div
{
    height: 100%;
    padding: 20px 0;
    
}
    .projectList 
    {
        transform: translateY(100px);
        flex-direction: column;

    }

    .projectList img 
    {
        height: 160px;
        z-index: 1;
    }

    .projectList p 
    {
        width: 95%;
    }

    .projectList > div 
    {
        height: 100%;
    }

    .projectList article 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 810px;
        max-width: none;
    }

    .projectList article:nth-of-type(2)
    {
        justify-content: center;
    }

    .projectList figure 
    {
        width: 33%;
        justify-content: flex-start;
        height: 450px;
    }

    .projectList article:nth-of-type(2) > figure
    {
        flex-direction: row;
        width: 100%;
        height: 400px;
    }

    .projectList article:nth-of-type(2) > figure img 
    {
        height: 350px;
    }

    .projectList article:nth-of-type(2) > figure p
    {
        width: 80%;
    }
   
}

@media only screen and (min-width: 1398px) 
{
    .projectList
    {
        max-width: none;
        flex-direction: column;
        gap: 40px;
        height: inherit;
        width: 1398px;
    
    }

    .bottomOfPage
    {
        height: 100px;
        width: 1398px;
    }

    .projectList figure 
    {
    gap: 20px;

    }

    .projectList h2
    {
    font-size: 32px;
    }

    .projectList p 
    {
    font-size: 18px;
    }

    .projectList img 
    {
        height: 250px;
    }

    .projectList article 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 500px;
        width: 1200px;
        /* border: 1px solid black; */
    }

    .projectList article:nth-of-type(2)
    {
        justify-content: space-between;
        height: 400px;
        width: 1200px;
    }

    .projectList figure 
    {
        width: 33%;
        justify-content: flex-start;
        height: 450px;
    }

    .projectList article:nth-of-type(2) > figure
    {
        flex-direction: row;
        width: 100%;
        height: inherit;
    }

    .projectList article:nth-of-type(2) > figure > img 
    {
        height: 400px;
    }
   
    .projectList article:nth-of-type(2) > figure div
    {
        gap: 20px;
    }

    .projectList article:nth-of-type(2) > figure p
    {
        gap: 20px;
    }
}