.partTwo
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 650px;
    /* position: relative;
    top: 20px; */

}

.partTwo > div 
    {
        height: 100px;
    }

/* .partTwo > div 
{
    height: 100px;
} */

.partTwo article 
{
    display: inherit;
    flex-direction: column;
    gap: 19px;

}

.partTwo img 
{
  
    height: 220px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

    /* width: auto; */
   
    
}

.partTwo h2
{
    height: fit-content;
}

.partTwo p 
{
    width: 80%;
    text-align: justify;
}

.partTwo figure 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.partTwo div 
{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}

.partTwo img {
    cursor: pointer;
}

@media only screen and (min-width: 810px) 
{
    .partTwo 
    {
        max-width: none;
        width: 810px;
        /* position: relative; */
        /* top: 20px; */
        flex-direction: column;
    }

    .partTwo img {
        
        height: 170px;
    }

    .partTwo > div 
    {
        height: 50px;
    }

    .partTwo  article 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* border: 1px solid black; */

    }

    .partTwo  article:nth-of-type(2)
    {
        justify-content: center;
    }

    .partTwo figure 
    {
        width: 33%;
        /* border: 1px solid black; */
        justify-content: flex-start;
        height: 450px;

    }


    .partTwo article:nth-of-type(2) > figure
    {
        flex-direction: row;
        width: 100%;
        height: 350px;
    }

    .partTwo article:nth-of-type(2) > figure img 
    {
        height: 300px;
    }
   
}

@media only screen and (min-width: 1398px) 
{
    .partTwo
    {
        max-width: none;
        width: 1200px;
        /* position: relative; */
        /* top: 20px; */
        flex-direction: column;
        gap: 40px;
    }

    .partTwo > div 
    {
        height: 80px;
    }

    .partTwo h2
    {
    font-size: 32px;
    }

    .partTwo p 
    {
    font-size: 18px;
    }

    .partTwo img {
    
        height: 250px;
        /* width: auto; */
    }

    /* .partTwo > div 
    {
        height: 50px;
    } */

    .partTwo  article 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 1px solid black; */
        height: 500px;

    }

    .partTwo  article:nth-of-type(2)
    {
        justify-content: space-between;
        height: 400px;
    }

    .partTwo figure 
    {
        width: 33%;
        /* border: 1px solid black; */
        justify-content: flex-start;
        height: 450px;

    }

    .partTwo article:nth-of-type(2) > figure
    {
        flex-direction: row;
        width: 100%;
        height: inherit;
    }

    .partTwo article:nth-of-type(2) > figure > img 
    {
        height: 400px;
        
    }
   
    .partTwo article:nth-of-type(2) > figure div
    {
        gap: 20px;
    }
}