.partThree
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
    align-items: center;
    height: inherit;
    position: relative;
    transform: translateY(120px);

}

.bottomOfPage
{
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;    
}

.bottomOfPage > div
{
    height: 100px;
    width: 100%;
}

.partThree i
{
    color: #00aaee;
}

.partThree article 
{
    display: inherit;
    flex-direction: column;
    gap: 19px;
    max-width: 650px;
}

.partThree img 
{
    height: 260px;   
}

.partThree h2
{
    height: fit-content;
}

.partThree p 
{
    width: 100%;
}

.partThree figure 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.partThree div 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partThree img {
    cursor: pointer;
}

@media only screen and (min-width: 810px) 
{
    .bottomOfPage > div
    {
        height: 100%;
        padding: 20px 0;
        
    }

    .partThree 
    {
        flex-direction: column;
        transform: translateY(100px);
    }

    .partThree img {
        height: 200px;
    }

    /* .partThree > div 
    {
        height: 50px;
    } */

    .partThree article 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 810px;
        max-width: none;

    }

    .partThree  article
    {
        justify-content: center;
    }

    .partThree article > figure
    {
        flex-direction: row;
        width: 100%;
        height: 350px;
    }

    .partThree > article > figure > img 
    {
        height: 300px;
    }

    .partThree > article:nth-of-type(2n) > figure {
        flex-direction: row-reverse;
    }   
}

@media only screen and (min-width: 1398px) 
{
    .partThree 
    {
        max-width: none;
        flex-direction: column;
        gap: 40px;
        height: inherit;
        width: 1398px;
    }

    .bottomOfPage
    {
        /* height: 100px; */
        width: 1398px;
    
    }
   
    .partThree img {
        height: 300px;
    }

    /* .partThree > div 
    {
        height: 80px;
    } */

    .partThree h2
    {
        font-size: 32px;
    }

    .partThree p 
    {
        font-size: 18px;
    }

    .partThree article 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 400px;
        width: 1200px;

    }

    .partThree article
    {
        justify-content: center;

    }
    
    .partThree article > figure
    {
        flex-direction: row;
        /* width: 100%; */
        height: 400px;
    }

    .partThree article > figure > img 
    {
        height: 400px;
    }

    .partThree > article:nth-of-type(2n) > figure {
        flex-direction: row-reverse;
    }

    .partThree article > figure > div
    {
        gap: 20px;
    }  
}