.home
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
    align-items: center;
    height: inherit;
    position: relative;
    transform: translateY(120px);
}

.bottomOfPage
{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;    
}

.bottomOfPage > div
{
    height: 100px;
    width: 100%;
}

.home i
{
   color: #00aaee;
   /* background-color:red; */
   border-radius: 20px;
   cursor: pointer;

}


 

.home article 
{
    display: inherit;
    flex-direction: column;
    gap: 19px;
    max-width: 650px;
}

.home img 
{
    height: 260px;
    border-radius: 20px;
}

.home h2
{
    height: fit-content;
}

.home p 
{
    width: 80%;
    text-align: justify;
}

.home figure 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home figure > div 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home img {
    cursor: pointer;
}

@media only screen and (min-width: 810px) 
{
    .bottomOfPage > div
    {
        height: 100%;
        
    }

    .home
    {
        flex-direction: column;
        transform: translateY(100px);

        /* padding: 40px 0 0 0; */
        /* height: inherit; */

    }

    .home img 
    {
        height: 200px;
    }

    .home > div 
    {
        height: 100%;
    }

    .home article 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 810px;
        max-width: none;
        background-color: white;


    }

    .home  article:nth-of-type(1)
    {
        justify-content: space-between;
    }

    .home figure 
    {
        width: 33%;
        justify-content: flex-start;
        height: 450px;
    }


    .home article:nth-of-type(1) > figure
    {
        flex-direction: row;
        width: 100%;
        height: 350px;
    }

    .home article:nth-of-type(1) > figure > img 
    {
        height: 300px;
    }   
}

@media only screen and (min-width: 1398px) 
{
    .home
    {
        max-width: none;
        flex-direction: column;
        gap: 40px;
        height: inherit;
        width: 1398px;
    }

    .bottomOfPage
    {
        /* height: 100px; */
        width: 1398px;
    
    }
   
    
    .home h2
    {
        font-size: 32px;
    }

    .home p 
    {
        font-size: 18px;
    }

    .home img 
    {
        height: 300px;
    }

    .home  article 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 500px;
        width: 1200px;

    }

    .home  article:nth-of-type(1)
    {
        justify-content: space-between;
        height: 400px;
    }

    .home figure 
    {
        width: 33%;
        justify-content: flex-start;
        height: 450px;
    }

    .home article:nth-of-type(1) > figure
    {
        flex-direction: row;
        width: 100%;
        height: inherit;
    }

    .home article:nth-of-type(1) > figure > img 
    {
        height: 400px;
    }   
}