.partTwo
{
    display: flex;
    max-width: 650px;

}

article 
{
    display: inherit;
    flex-direction: column;
    gap: 19px;
}

.partTwo img 
{
    height: 260px;
    object-fit: contain;
    width: 80%;
    
}

.partTwo h2
{
    height: fit-content;
}

.partTwo p 
{
    width: 80%;
    text-align: justify;
}

figure 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

img {
    cursor: pointer;
}

@media only screen and (min-width: 810px) 
{
    .partTwo 
    {
        max-width: none;
    }

    .partTwo  article 
    {
        display: flex;
        flex-direction: row;
        /* border: 1px solid black; */
    }

    figure 
    {
        width: 33%;
        /* border: 1px solid black; */
        justify-content: flex-start;
        height: 420px;;
    }

   


}