@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Slab:ital,wght@1,100&family=Open+Sans:wght@300&family=Oswald:wght@700&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
}

body 
{
    height: fit-content;
}

h2 
{
  
    font-family: 'Raleway', sans-serif;
}

p
{
    font-family: 'Open Sans', sans-serif;
}

.homeMain,
.projectsMain,
.resumeMain
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    
}

@media screen and (min-width: 810px) 
{
    .homeMain,
    .projectsMain
    {
        top: 0px;
    }
}