@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Slab:ital,wght@1,100&family=Open+Sans:wght@300&family=Oswald:wght@700&family=Raleway&display=swap');

* 
{
    margin: 0;
    padding: 0;
}

html 
{
    height: 100vh;
    width: 100%;
    overflow: scroll;
}

body
{
    height: 100vh;
    position: relative;
}

main
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    width: 100%;
}

h2 
{
    font-family: 'Raleway', sans-serif;
}

p
{
    font-family: 'Open Sans', sans-serif;
}

.item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 1000ms ease-in;
  }

@media only screen and (min-width: 1398px) 
{
    body 
    {
        /* background-color: rgba(255,255,0, 0.1);
         */
         background-image: url("https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
         background-size: contain;
        display: flex;
        justify-content: center;
    }

    main 
    {
        background-color: white;
        width: 1398px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        overflow: scroll;
    }
}