@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Slab:ital,wght@1,100&family=Open+Sans:wght@300&family=Oswald:wght@700&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
}


h2 
{
  
    font-family: 'Raleway', sans-serif;
}

p
{
    font-family: 'Open Sans', sans-serif;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

@media only screen and (min-width: 1398px) 
{
    body 
    {
        background-color: rgb(232, 242, 247);
        display: flex;
        justify-content: center;
    }

    main 
    {
        background-color: white;
        width: 1398px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        height: fit-content;
        overflow: scroll;
    }
}