.partThree
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 650px;
    /* position: relative;
    top: 20px; */

}

.partThree > div 
    {
        height: 100px;
    }

/* .partTwo > div 
{
    height: 100px;
} */

.partThree article 
{
    display: inherit;
    flex-direction: column;
    gap: 19px;

}

.partThree img 
{
  
    height: 260px;
    /* width: auto; */
   
    
}

.partThree h2
{
    height: fit-content;
}

.partThree p 
{
    width: 80%;
    text-align: justify;
}

.partThree figure 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.partThree div 
{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}

.partThree img {
    cursor: pointer;
}

@media only screen and (min-width: 810px) 
{
    .partThree 
    {
        max-width: none;
        width: 810px;
        /* position: relative; */
        /* top: 20px; */
        flex-direction: column;
    }

    .partThree img {
        border: 1px solid black;
        height: 200px;
    }

    .partThree > div 
    {
        height: 50px;
    }

    .partThree article 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid black;

    }

    .partThree  article
    {
        justify-content: center;
    }
/*
    .partThree figure 
    {
        width: 33%;
         border: 1px solid black; 
        justify-content: flex-start;
        height: 450px;

    } */
    

    .partThree article > figure
    {
        flex-direction: row;
        width: 100%;
        height: 350px;
    }

    .partThree article > figure > img 
    {
        height: 300px;
    }

    .partThree > article:nth-of-type(2n) > figure {
        flex-direction: row-reverse;
    }
   
}